body {
    margin: 0;
    padding: 0;
    background: #F39C12;
}

a, a:link, a:visited, a:hover, a:active {
    color: #F1C40F;
}

.bg {
    color: #fff;
    background: #6E248D url(../../assets/images/bg.png);
    padding: 50px 0;
    margin-top: 50px;
}

.m-t-s {
    margin-top: 25px;
}

.m-t-m {
    margin-top: 50px;
}

.m-t-l {
    margin-top: 100px;
}

.center {
    margin: calc(35vh - 160px) auto 0 auto;
}

.footer-wrapper {
    text-align: center;
    margin-top: 4vh;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}